.bannerHeight {
    height: 80vh;
    overflow: clip;
}

.bannerWrapper {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../../images/HeroBannerImage.jpg');
    background-position: center;
    background-origin: border-box;
    background-size: cover;
}

.leftText {
    text-align: left;
}

.socialWrapper:hover {
    background-color: white;
}

.socialWrapper:hover a {
    color: black !important;
}